@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Raleway&family=Rampart+One&display=swap');

body {
  margin: 0;
  background-color: #edf6f78a;
  font-family: 'Raleway';
}
